<html>
  <% include templates/header.html %>
  <body role="document" style="">
    <% include templates/navbar.html %>

    <div class="jumbotron">
      <h1 class="text-center">About Us</h1>
    </div>

    <div class="container theme-showcase" role="main">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Allyson Rosenthal</h3>
            </div>
            <div class="panel-body">
              Some info and maybe a pic
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Chris Sheahan</h3>
            </div>
            <div class="panel-body">
              Some info and maybe a pic
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Coleman Needles</h3>
            </div>
            <div class="panel-body">
              Some info and maybe a pic
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Dylan Schnurman</h3>
            </div>
            <div class="panel-body">
              Some info and maybe a pic
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Matthew Rayermann</h3>
            </div>
            <div class="panel-body">
              Some info and maybe a pic
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Spencer Sullivan</h3>
            </div>
            <div class="panel-body">
              Some info and maybe a pic
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Ver Starr</h3>
            </div>
            <div class="panel-body">
              Some info and maybe a pic
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>
    </div>
  </body>
</html>
