<html>
  <% include templates/header.html %>
  <body role="document" style="">
    <% include templates/navbar.html %>
    <div class="main-header">
        <h1>Welcome to Rabbithole</h1>
        <p class="citation"><a href="http://www.veryrelated.com/">Powered by VeryRelated Mind Maps API</a></p>
    </div>
    <div class="main-body">
        <div class="main-page-content">
            <p>Here you can waste time and explore rabbit holes of the Internet. Just search for a word or click "Random" at the top to get started!</p>
        </div>
    </div>
  </body>
</html>
