<html>
  <% include templates/header.html %>
  <body role="document" style="">
    <% include templates/navbar.html %>
    <div class="container theme-showcase" role="main" style="width: 500px">
      <div class="jumbotron" style="text-align: center;">
        <h1>Rabbithole</h1>
        <p>A site for wasting time and exploring Internet rabbit holes.</p>
        <p><a href="http://www.veryrelated.com/">Powered by VeryRelated Mind Maps API</a></p>
      </div>
      <form class="search" action="display_paths.html" method="GET">
        <input type="search" name="base" placeholder="Choose something to explore..." required>
        <button type="submit">Explore</button>
      </form>
    </div>
  </body>
</html>
