<!DOCTYPE html>
<meta charset="utf-8">
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="../public/javascripts/d3.layout.cloud.js"></script>
<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

<div id="words" class="hiddden">
    <% words.forEach(function (word) { %>
        <div class="hidden"><%= word %></div>
    <% }) %>
    <!-- <p>hi</p>
    <p>how</p>
    <p>are</p>
    <p>you</p>
    <p>doing</p>
    <p>this</p>
    <p>fine</p>
    <p>day</p> -->
</div>
<script>
  var fill = d3.scale.category20();

  function draw(words) {
    d3.select("body").append("svg")
        .attr("width", 1000)
        .attr("height", 1000)
      .append("g")
        .attr("transform", "translate(150,150)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
  var word_list = [];
  $("#words").children().each(function(itm) {
    word_list.push(this.textContent);
  });

  d3.layout.cloud().size([1000, 1000])
    .words(word_list.map(function(d) {
        return {text: d, size: 10 + Math.random() * 90};
      }))
      .padding(5)
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw)
      .start();
</script>
