<header>
  <title><%= typeof(title) != 'undefined' ? title : "Rabbithole" %></title>
</header>
<head>
  <meta charset="utf-8">
  <title>Rabbithole</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
  <link rel="stylesheet" href="/public/stylesheets/app.css">
  <script src="/public/javascripts/clock.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
</head>
