<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header pad-right">
      <img src="/public/images/logo.jpg" style="height:50px; width:50px;">
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Rabbithole</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li id="index"><a href="/">Home</a></li>
        <li id="history"><a href="history.html">History</a></li>
        <li id="about"><a href="about.html">About</a></li>
        <script>
            if(window.location.href.match(/about/)) {
                document.getElementById("about").classList.add("active")
            } else if(window.location.href.match(/history/)) {
                document.getElementById("history").classList.add("active")
            } else {
                document.getElementById("index").classList.add("active")
            }
        </script>
      </ul>
    </div>
  </div>
</div>
<div class="background"></div>
