<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li id="home"><a href="/">Home</a></li>
        <li id="about"><a href="about.html">About</a></li>
        <li id="history"><a href="history.html">Search History</a></li>
        <li id="random"><a href="random.html">Random</a></li>
        <li><div id="huge-logo" class="hidden"></div></li>
        <li id="search_box">
          <form class="search" action="display_paths.html" method="GET">
            <input type="search" name="base" placeholder="Choose something to explore..." required>
            <button type="submit">Explore</button>
          </form>
        </li>
        <script>
            if(window.location.href.match(/about\.html/)) {
                document.getElementById("about").classList.add("active")
            } else if(window.location.href.match(/history\.html/)) {
                document.getElementById("history").classList.add("active")
            } else if(window.location.href.match(/random\.html/)) {
                document.getElementById("random").classList.add("active")
            } else if(!window.location.href.match(/display_paths/)) {
                document.getElementById("huge-logo").className = "";
                document.getElementById("home").classList.add("active");
                document.getElementsByTagName('body')[0].classList.add("overflow-hidden");
            }
        </script>
      </ul>
    </div>
  </div>
</div>
<div class="filler"></div>
