body {
    /*background:url(../images/background3.jpg) no-repeat center center fixed;*/
    background-size:cover;
/*    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
*/}

.search {
    width: 380px;
    height: 40px;
    margin: 150px auto;
    background: #444;
    background: rgba(0,0,0,.9);
    border-radius: 20px;
    border: 1px solid #fff;
    margin: 5px auto 0;
}

.search input {
    width: 250px;
    padding: 10px 5px;
    float: left;
    color: #ccc;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
    padding-left: 15px;
}

.search input:focus {
    outline: 0;
    background:transparent;
}

.search button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 38px;
    width: 120px;
    color: #fff;
    background: transparent;
    border-left: 1px solid #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search button:hover {
    background: #fff;
    color:#444;
}

.search button:active {
    box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.search button:focus {
    outline: 0;
}

/*.clock {
    float: left;
    font-size: 50px;
}*/

#main_title {
    height: 250px;
}

#time_wasted_header{
    font-size: 50px;
}





.clock {
    position:relative;
    font-family:monaco,consolas,"courier new",monospace;
    font-size:5em;
    line-height:1.375;
}

.clock:before,
.clock:after {
    position:absolute;
    top:0;
    bottom:0;
    z-index:2;
    line-height:1.15;
    color:#333;
}

.clock:before {
    left:2.325em;
}

.clock:after {
    right:2.325em;
}

.clock span {
    position:relative;
    display:inline-block;
    text-align: center;
    padding:0 .25em;
    margin:0 .06125em;
    z-index:1;

    -webkit-transform:perspective(750);
    -moz-transform:perspective(750);
    -ms-transform:perspective(750);
    transform:perspective(750);

    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    transform-style:preserve-3d;
}

.clock span:first-child {
    margin-left:0;
}

.clock span:last-child {
    margin-right:0;
}

.clock span:nth-child(2),
.clock span:nth-child(4),
.clock span:nth-child(6) {
    margin-right:.3em;
}

.clock span:nth-child(3),
.clock span:nth-child(5),
.clock span:nth-child(7) {
    margin-left:.3em;
}

.clock span:before,
.clock span:after {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    color:#eee;
    text-shadow:0 1px 0 #fff;
    background:#333;
    border-radius:.125em;
    outline:1px solid transparent; /* fix jagged edges in ff */

    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    backface-visibility:hidden;

    -webkit-transition:-webkit-transform .50s, opacity .75s;
    -moz-transition:-moz-transform .50s, opacity .75s;
    -ms-transition:-ms-transform .50s, opacity .75s;
    transition:transform .50s, opacity .75s;
}

.clock span:before {
    opacity:1;
    z-index:1;
    content:attr(data-old);

    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;

    -webkit-transform:translate3d(0,0,0) rotateX(0);
    -moz-transform:translate3d(0,0,0) rotateX(0);
    -ms-transform:translate3d(0,0,0) rotateX(0);
    transform:translate3d(0,0,0) rotateX(0);
}

.clock span:after {
    opacity:0;
    z-index:2;
    content:attr(data-now);

    -webkit-transform-origin:0 100%;
    -moz-transform-origin:0 100%;
    -ms-transform-origin:0 100%;
    transform-origin:0 100%;

    -webkit-transform:translate3d(0,-102.5%,0) rotateX(90deg);
    -moz-transform:translate3d(0,-102.5%,0) rotateX(90deg);
    -ms-transform:translate3d(0,-102.5%,0) rotateX(90deg);
    transform:translate3d(0,-102.5%,0) rotateX(90deg);
}

.clock .flip:before {
    opacity:0;
    -webkit-transform:translate3d(0,102.5%,0) rotateX(-90deg);
    -moz-transform:translate3d(0,102.5%,0) rotateX(-90deg);
    -ms-transform:translate3d(0,102.5%,0) rotateX(-90deg);
    transform:translate3d(0,102.5%,0) rotateX(-90deg);
}

.clock .flip:after {
    opacity:1;
    -webkit-transform:translate3d(0,0,0) rotateX(0);
    -moz-transform:translate3d(0,0,0) rotateX(0);
    -ms-transform:translate3d(0,0,0) rotateX(0);
    transform:translate3d(0,0,0) rotateX(0);
}

.pad-right {
    padding-right: 20px;
}

img.self-portrait {
    height: 375px;
    width: 328px;
    padding-bottom: 10px;
}

div#huge-logo {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    background: url(../images/logo.png) no-repeat center center;
    background-size: 250px 250px;
    margin: auto auto 0;
    background-color: white;
    position:absolute;
    margin: 20 60 0;
}

ul.navbar-nav li {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}

li#about:hover, li#history:hover, li#random:hover {
    background-color: #32d688;
}

div.navbar-inverse {
    background-color: #2bb673;
    border-color: #2bb673;
}

li#search_box {
    height: 50px;
    margin-left: 350px;
    float: right;
}

a.navbar-brand {
    color: black !important;
}

div.collapse a {
    color: black !important;
}

li.active a {
    background-color: white !important;
}

div.filler {
    height: 75px;
}

div.main-header {
    height:100px;
    background-color: #2bb673;
}

.main-header h1 {
    font-size: 60;
    color: black;
    margin-left: 100px;
    float: left;
}

div.main-body {
    height:100%;
    background-color: #2bb673;
    margin-top: 25px;
}

p.citation {
    float: right;
    margin-right:300px;
    margin-top: 40px;
}

p.citation a {
    color: blue;
}

.overflow-hidden {
    overflow: hidden;
}

div.main-page-content {
    height: 30%;
    width: 50%;
    margin: auto auto 0;
    background-color: #DDD;
}

div.main-page-content p {
    margin: auto auto 0;
    font-size: 40px;
    padding: 80px;
}

h3.panel-title {
    color: black !important;
}

div.panel-heading {
    background-color: #2bb673 !important;
}
